<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.nannygo.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.MainActivity"/>
        </activity>
        <activity
            android:name=".BabasActivity"
            android:label="@string/title_activity_avaliacao"
            android:parentActivityName=".VerificacaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.VerificacaoActivity"/>
        </activity>
        <activity
            android:name=".ContratacaoActivity"
            android:label="@string/title_activity_contratacao"
            android:parentActivityName=".BabasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.BabasActivity"/>
        </activity>
        <activity
            android:name=".DetalhesBabaActivity"
            android:label="@string/title_activity_detalhes_baba"
            android:parentActivityName=".BabasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.BabasActivity"/>
        </activity>
        <activity
            android:name=".VerificacaoActivity"
            android:label="@string/title_activity_verificacao"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".AreaBabaActivity"
            android:label="@string/title_activity_area_baba"
            android:parentActivityName=".MenuBabaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.MenuBabaActivity"/>
        </activity>
        <activity
            android:name=".RegistroBabaActivity"
            android:label="@string/title_activity_registro_baba"
            android:parentActivityName=".AreaBabaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.AreaBabaActivity"/>
        </activity>
        <activity
            android:name=".AreaUsuarioActivity"
            android:label="@string/title_activity_area_usuario"
            android:parentActivityName=".MenuUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.MenuUsuarioActivity"/>
        </activity>
        <activity
            android:name=".SelecaoCidadesActivity"
            android:label="@string/title_activity_selecao_cidades"
            android:parentActivityName=".RegistroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.RegistroActivity"/>
        </activity>
        <activity
            android:name=".EditarUsuarioActivity"
            android:label="@string/title_activity_editar_usuario"
            android:parentActivityName=".AreaUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.RegistroActivity"/>
        </activity>
        <activity
            android:name=".FaleConoscoActivity"
            android:label="@string/title_activity_fale_conosco"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.VerificacaoActivity"/>
        </activity>
        <activity
            android:name=".MenuUsuarioActivity"
            android:label="@string/title_activity_menu_usuario"
            android:parentActivityName=".VerificacaoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.VerificacaoActivity"/>
        </activity>
        <activity
            android:name=".HistoricoClienteActivity"
            android:label="@string/title_activity_historico_cliente"
            android:parentActivityName=".MenuUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.MenuUsuarioActivity"/>
        </activity>
        <activity
            android:name=".MenuBabaActivity"
            android:label="@string/title_activity_menu_baba"
            android:parentActivityName=".VerificacaoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.VerificacaoActivity"/>
        </activity>
        <activity
            android:name=".TransacoesEsperaActivity"
            android:label="@string/title_activity_transacoes_espera"
            android:parentActivityName=".MenuBabaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.MenuBabaActivity"/>
        </activity>
        <activity
            android:name=".DetalhesTransacaoEsperaActivity"
            android:label="@string/title_activity_detalhes_transacao_espera"
            android:parentActivityName=".TransacoesEsperaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.TransacoesEsperaActivity"/>
        </activity>
        <activity
            android:name=".HistoricoBabaActivity"
            android:label="@string/title_activity_historico_baba"
            android:parentActivityName=".MenuBabaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.MenuBabaActivity"/>
        </activity>
        <activity
            android:name=".DetalhesHistoricoBabaActivity"
            android:label="@string/title_activity_detalhes_historico_baba"
            android:parentActivityName=".HistoricoBabaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.HistoricoBabaActivity"/>
        </activity>
        <activity
            android:name=".DetalhesHistoricoClienteActivity"
            android:label="@string/title_activity_detalhes_historico_cliente"
            android:parentActivityName=".HistoricoClienteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.HistoricoClienteActivity"/>
        </activity>
        <activity
            android:name=".EditarBabaActivity"
            android:label="@string/title_activity_editar_baba"
            android:parentActivityName=".AreaBabaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.nannygo.app.AreaBabaActivity"/>
        </activity>
    </application>

</manifest>